<h1>Do you want to have a chat?</h1>
<center><img src="https://pbs.twimg.com/profile_images/742699149842382848/ikKMkS0K.jpg"></center>
<br/>
<strong><p>You can contact me via any of the steps below:</p><strong>
<div>

<div>
<a href="https://twitter.com/NSakmarova" class="twitter-follow-button" data-show-count="false">Follow @NSakmarova</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<div>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/nataliasakmarova" data-format="hover" data-related="false" data-text="Natalia Sakmarova"></script>

